<!doctype html>
<html ⚡ lang="en-GB">

<head>
    <meta charset="utf-8">
    <title>hello YOGA—classes in Harrogate</title>
    <link rel="canonical" href="https://www.hello-yoga.co.uk/">
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content="Small, friendly yoga classes. Suitable for all abilities. Strengthen your body, increase your flexibility and calm your mind.">
    <meta property="og:title" content="hello YOGA" />
    <meta property="og:image" content="https://www.hello-yoga.co.uk/images/hello-yoga.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.hello-yoga.co.uk/images/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.hello-yoga.co.uk/images/favicon-16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.hello-yoga.co.uk/images/favicon-180.png">
    <meta name="msapplication-square150x150logo" content="https://www.hello-yoga.co.uk/images/favicon-150.png">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        html {
            -webkit-text-size-adjust: 100%;
        }

        body {
            background-color: floralwhite;
            font-family: "Helvetica Neue", "Helvetica", sans-serif;
            text-align: center;
        }

        span.line {
            display: inline-block;
        }

        #yoga-people {
            max-width: 90%;
        }
    </style>
    <script type="application/ld+json">
    [
    {
        "@id": "https://www.hello-yoga.co.uk/",
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "hello YOGA",
        "description": "Small, friendly yoga classes. Suitable for all abilities. Strengthen body, increase flexibility and calm the mind.",
        "email": "clare@hello-yoga.co.uk",
        "url": "https://www.hello-yoga.co.uk/",
        "image": "https://www.hello-yoga.co.uk/images/yoga-people.png",
        "logo": "https://www.hello-yoga.co.uk/images/hello-yoga.png",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Harrogate",
            "addressRegion": "North Yorkshire",
            "addressCountry": "GB"
        },
        "telephone": "07581 334542",
        "currenciesAccepted": "GBP",
        "priceRange": "£",
        "paymentAccepted": "Cash",
        "openingHours": [
            "We 19:45-20:45",
            "Th 19:00-20:00"
        ],
        "sameAs": [
            "https://facebook.com/helloyogaharrogate",
            "https://harrogate.mumbler.co.uk/hello-yoga/"
        ],
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "+44-7581334542",
                "contactType": "reservations",
                "areaServed": "GB",
                "availableLanguage": "English"
            }
        ],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "4"
        },
        "review": [
            {
                "@type": "Review",
                "reviewBody": "A really good mix of strength and toning, stretching and relaxation!",
                "author": {
                    "@type": "Person",
                    "name": "Gill Bruce"
                },
                "datePublished": "2018-06-13",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5"
                }
            },
            {
                "@type": "Review",
                "reviewBody": "First Yoga class and I really enjoyed it. Clare was an excellent instructor, explained everything clearly, just the right pace. Will be back next week.",
                "author": {
                    "@type": "Person",
                    "name": "Victoria Burns"
                },
                "datePublished": "2018-06-13",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5"
                }
            },
            {
                "@type": "Review",
                "reviewBody": "Great class at Beckwith Gym tonight thank you.",
                "author": {
                    "@type": "Person",
                    "name": "Roberta Black"
                },
                "datePublished": "2018-06-14",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5"
                }
            },
            {
                "@type": "Review",
                "reviewBody": "Great class, great instructor. Thoroughly enjoyed my very first yoga class!",
                "author": {
                    "@type": "Person",
                    "name": "Liza Swarbrick"
                },
                "datePublished": "2018-06-14",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5"
                }
            }
        ]
    },
    <%= partial "schema_event_thu" %>
    {
        "@id": "https://www.hello-yoga.co.uk/#beckwith-health-club",
        "@context": "http://schema.org",
        "@type": "Place",
        "name": "Beckwith Health Club",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Beckwith Health Club",
            "addressLocality": "Harrogate",
            "addressRegion": "North Yorkshire",
            "postalCode": "HG3 1UF",
            "addressCountry": "GB"
        },
        "url": "https://beckwithhealthclub.co.uk/"
    },
    {
        "@id": "https://www.hello-yoga.co.uk/#offer",
        "@context": "http://schema.org",
        "@type": "Offer",
        "availability": "http://schema.org/LimitedAvailability",
        "price": "7.00",
        "priceCurrency": "GBP",
        "validFrom": "2018-05-01T12:00",
        "url": "https://www.hello-yoga.co.uk/"
    },
    {
        "@id": "https://www.hello-yoga.co.uk/#yoga-action",
        "@context": "http://schema.org",
        "@type": "ExerciseAction",
        "exerciseType": "Yoga",
        "name": "hello YOGA",
        "description": "Small, friendly yoga class. Suitable for all abilities."
    }
  ]
  </script>
</head>

<body>
    <p class="img-container">
        <amp-img src="images/hello-yoga.png" alt="hello YOGA" height="165" width="230"></amp-img>
    </p>
    <h2>Thursdays 19:00–20:00</h2>
    <p id="beckwith-health-club">
        <span class="line">Beckwith Health Club,</span>
        <span class="line">Harrogate.</span>
        <span class="line">HG3 1UF</span>
    </p>
    <p id="yoga-action">
        Strengthen body, increase flexibility
        <span class="line">and calm the mind.</span>
        <br>
        <span class="line">Small friendly classes.</span>
        <span class="line">Suitable for all abilities.</span>
    </p>
    <p id="offer">£7 per class.</p>
    <p>To book your place,
        <span class="line">email
            <a href="mailto:clare@hello-yoga.co.uk">clare@hello-yoga.co.uk</a>
        </span>
        <span class="line">or visit the
            <a href="https://facebook.com/helloyogaharrogate">hello YOGA Facebook page</a>.
        </span>
    </p>
    <p>
        ⭐️⭐️⭐️⭐️⭐️
        <br>
        <%= partial "reviews" %>
    </p>
    <p>
        <amp-img src="images/yoga-people.png" layout="intrinsic" alt="" id="yoga-people" height="247" width="433"></amp-img>
    </p>
    <amp-analytics type="googleanalytics">
        <script type="application/json">
    {
      "vars": {
        "account": "UA-89800146-2"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
    </amp-analytics>
</body>

</html>